/* Hero */
.block-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/intro_bg_1x.png');
  min-width: 1600px; 
  width: 100%;
}
.block-hero__button-wrap {
  margin-bottom: 30px;
}
.block-hero__desc {
  margin: 27px 0;
}

.block-hero__image {
  width: 977px;
  height: 608px;
  background-image: url('../img/intro_1x.png');
  background-repeat: no-repeat;
  background-position: center center;
}
@media (webkit-min-device-pixel-ratio: 1.5),
  (min--moz-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 3/2){
    .block-hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url('../img/intro_bg_2x.png');
      min-width: 1600px; 
    }
    .block-hero__image {
      width: 977px;
      height: 608px;
      background-image: url('../img/intro_2x.png');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
 

/* Tablet */
@media all and (max-width: 1025px) {
  .block-hero {
    min-width: 768px; 
    width: 100%;
    justify-content: center;
  }
  .block-hero__image {
    width: 710px;
    height: 442px;
    background-size: contain;
    background-position: 15px 0;
  }
  
}
/* Mobile */
@media all and (max-width: 767px) {
  .block-hero {
    min-width: inherit; 
  }
  .block-hero__image {
    width: 320px;
    height: 199px;
    background-position: 10px 0;
  }
  .block-hero__button-wrap {
    padding: 0 15px;
  }


}

