/* Partners */
.block-partners {
  /* min-width: 1180px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.block-partners__head {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: rgba(69, 88, 128, 0.5);
  margin: 30px 3% 50px;
}
.block-partners .wrapper {
  /* align-items: stretch; */
}

.block-partners__image-wrap {
  display: flex;
  /* justify-content: space-between; */

  /* max-width: 1180px; */
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  /* padding: 0 3%; */
}

/* Tablet */
@media all and (max-width: 1025px) {
  .block-partners__image {
    /* width: 10%; */
  }
}
/* Mobile */
@media all and (max-width: 767px) {
  .block-partners__image-wrap {
    /* justify-content: center; */
    /* flex-wrap: wrap; */
  }
}
