/* Partners */
.block-partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.block-partners__head {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: rgba(69, 88, 128, 0.5);
  margin: 30px 3% 50px;
}

.block-partners__image-wrap {
  display: flex;
  text-align: center;
}
