/* Test drive */
.block-testdrive {
  display: flex;
  justify-content: center ;
  background-color: var(--c-blue);
  min-width: 1600px; 
  margin-top: 110px;
}

.block-testdrive__wrap {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  align-items: baseline;
  min-width: 1180px;
}
.block-testdrive__btn-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.block-testdrive__head {
  color: var(--txt-c-light);
  margin: 50px 0 75px 0;
}
.block-testdrive__desc {
  color: var(--txt-c-grey-light);
  margin-top: 20px;
}
.block-testdrive__link {
color: var(--txt-c-light-orange);
text-decoration: none;
cursor: pointer;
}
.block-testdrive__link:hover {
  color: var(--c-pink);
}
.block-testdrive__link:active {
  color: var(--c-red);
  transform:scale(1.4);
}
#contact_us {
  padding: 0 13px 0 0;
  transform: scale(2);
  fill: #53C07E;
}
#contact_us:hover {
  fill: #0bc7e9;
  /* transform: scale(2.3); */
}

 /* Mobile */
 @media all and (max-width: 768px) {
  




}

/* Tablet */
@media all and (max-width: 1025px) {
  .block-testdrive__btn-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .block-testdrive__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: inherit;
  }
  .block-testdrive__head {
    margin: 50px 0 25px 0;
  }
  .block-testdrive__desc {
    margin-bottom: 20px;
  }
  




}