/* Test drive */
.block-testdrive {
  display: flex;
  justify-content: center ;
  background-color: var(--c-blue);
  max-width: 1600px; 
  width: 100%;
  margin-top: 110px;
}

.block-testdrive__wrap {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  align-items: baseline;
  /* min-width: 1180px; */
}
.block-testdrive__btn-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}

.block-testdrive__head {
  color: var(--txt-c-light);
  margin: 50px 0 75px 0;
}
.block-testdrive__desc {
  color: var(--txt-c-grey-light);
  margin-top: 20px;
}
.block-testdrive__link {
color: var(--txt-c-light-orange);
text-decoration: none;
cursor: pointer;
}
.block-testdrive__link:hover {
  color: var(--c-pink);
}
.block-testdrive__link:active {
  color: var(--c-red);
  transform:scale(1.4);
}
.contact_us {
  padding: 0 13px 0 0;
  transform: scale(2);
  fill: #53C07E;
}

/* Big-tablet */
@media all and (min-width: 1025px) and (max-width: 1200px) {
  .block-testdrive__wrap {
    width: 100%;
  }
}

/* Tablet */
@media all and (max-width: 1025px) {
  .wrapper {
    align-items: stretch;
  }
  .block-testdrive {
    margin: 0 2vh;
  }
  .block-testdrive__btn-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .block-testdrive__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: inherit;
  }
  .block-testdrive__head {
    margin: 50px 0 25px 0;
  }
  .block-testdrive__desc {
    margin-bottom: 20px;
  }


}
/* Mobile */
@media all and (max-width: 767px) {
  .block-testdrive {
    margin-top: 50px;
  }
  




}