:root {
  /* background */
  --c-blue: #3751FF;
  --c-biege: #FFF9EA;
  
  --c-dark: #1E266D;
  --c-grey: #455880;
  --c-grey-light: #DFE0EB;
  --c-light: #fff;
  --c-light-orange: #FED385;
  
  /* text */
  --txt-c-dark: var(--c-dark);
  --txt-c-grey: var(--c-grey);
  --txt-c-grey-light: var(--c-grey-light);
  --txt-c-light: var(--c-light);
  --txt-c-light-orange: var(--c-light-orange);
}

html,
body,
main {
  font-family: 'Varta', 'Montserrat', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--c-light);
  color: var(--txt-c-dark);
}
svg:not(:root) {
  overflow: visible;
}

h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 105%;
  /* or 59px */
  text-align: center;
  margin: 145px 0 0 0;
}
h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  /* or 125% */
  text-align: center;
  margin: 0;
}
h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  /* identical to box height, or 27px */
  margin: 0;
}
p {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #455880;
  margin: 0;
}
ul {
  padding: 0;
}
.accent-btn {
  background: var(--c-blue);
  border-radius: 100px;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: var(--c-light);
  padding: 0 15px;
  cursor: pointer;
  border: none;
  outline: 0;
}

.wrapper{
  max-width: 1180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2vw;
}

.wrap-row {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.wrap-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

