html,
body {
  font-family: 'Varta', 'Montserrat', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  /* width: 100%; */
  /* max-width: 100vw; */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #1E266D;
}
ul {
  padding: 0;
}
.accent-btn {
  background: #3751FF;
  border-radius: 100px;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 0 15px;
  cursor: pointer;
  border: none;
  outline: 0;
  /* width: 148px; */
}

.wrapper{
  width: 1180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;

}



.wrap-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.wrap-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 20%; */

}
/* img {
  width: 100%;
} */
