:root {
  /* background */
  --c-blue: #3751ff;
  --c-biege: #fff9ea;

  --c-dark: #1e266d;
  --c-grey: #455880;
  --c-grey-light: #dfe0eb;
  --c-light: #fff;
  --c-light-orange: #fed385;
  --c-red: #cc5a6b;
  --c-pink: #f798a6;
  --c-green: #b5f1e2;
  --c-opacity: rgba(255, 255, 255, 0);

  /* text */
  --txt-c-dark: var(--c-dark);
  --txt-c-grey: var(--c-grey);
  --txt-c-grey-light: var(--c-grey-light);
  --txt-c-light: var(--c-light);
  --txt-c-light-orange: var(--c-light-orange);
}
body {
}
html,
body,
main {
  font-family: "Varta", "Montserrat", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--c-light);
  color: var(--txt-c-dark);
}
svg:not(:root) {
  overflow: visible;
}

h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 59px;
  text-align: center;
  margin: 145px 0 0 0;
}
h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  /* or 125% */
  text-align: center;
  margin: 0;
}
h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  margin: 0;
}
p {
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: #455880;
  margin: 0;
}
ul {
  padding: 0;
}

.accent-btn {
  background: var(--c-blue);
  border-radius: 100px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: var(--c-light);
  padding: 17px 40px;
  cursor: pointer;
  border: #1e266d00 1px solid;
  outline: 0;
}
.accent-btn:hover {
  color: var(--c-blue);
  background: var(--c-light);
  border: var(--c-blue) 1px solid;
  transition: all 0.3s ease-in-out;
}
.accent-btn:hover .contact_us {
  fill: #0bc7e9;
}
.accent-btn:active {
  transform: scale(1.2);
  background: var(--c-green);
}

.accent-btn--nav {
  font-size: 16px;
  line-height: 40px;
  padding: 0 15px;
}
.accent-btn--white {
  background-color: var(--c-light);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  color: var(--txt-c-grey);
  margin-left: 22px;
}
.accent-btn--big-white {
  display: flex;
  font-size: 18px;
  line-height: 20px;
  background-color: var(--c-light);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  color: var(--txt-c-grey);
}
.accent-btn--big-white:hover {
  color: var(--c-blue);
  background: var(--c-light);
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.wrapper {
  max-width: 1180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 3%;
}
.mobile-menu-container {
  display: none;
}

/* Big-tablet */
@media all and (max-width: 1200px) {
  .wrapper {
    /* max-width: 1020px; */
  }
  .mobile-menu-container {
    display: none;
  }
}
/* Tablet */
@media all and (max-width: 1025px) {
  .wrapper {
    /* max-width: 700px; */
    /* width: 100%; */
  }
  .accent-btn--big-white {
    justify-content: center;
  }
  /* .mobile-menu-container {
    display: none;
  } */
}

/* Mobile */
@media all and (max-width: 767px) {
  .wrapper {
    min-width: 310px;
    /* width: inherit; */
    /* padding: 0 20px; */
  }
  .base-head {
    margin-top: 20px;
  }
  .accent-btn--white {
    margin: 10px 0 0 0;
  }
  .base-break-line {
    display: none;
  }
  .accent-btn--mobile {
    width: 205px;
  }

  /* Mobile Menu */
  .mobile-menu-container {
    display: block;
  }
  .mobile-menu {
    list-style-type: none;
    display: none;
    position: absolute;
    background: #fff;
    height: 100vh;
    width: 100%;
    right: 0;
  }
  .mobile-toggle {
    cursor: pointer;
  }

  .active {
    display: block;
    position: fixed;
    height: 100vh;
    z-index: 20;
    background-color: white;
    margin: 30px 0 0 0;
  }
  .overflow-hidden {
    overflow: hidden;
  }
}
@media all and (max-height: 568px) {
  .mobile-menu__item {
    font-size: 25px;
    line-height: 30px;
    padding: 15px 0;
  }
}
