/* Header */
.navigation {
  width: 100%;
}
.navigation, 
.navigation__logo,
.navigation__menu {
  align-items: center;
}
.navigation .wrap-row {
  align-items: baseline;
}
.navigation__logo svg {
  margin-right: 82px;
  padding: 21px 0;
  vertical-align: middle;
}
.navigation a,
li {
  font-weight: normal;
  font-size: 16px;
  line-height: 80px;
  color: #1E266D;
  text-decoration: none;
  display: inline-block;
  /* justify-content: stretch; */
}
.navigation li {
  margin-right: 50px;
}

.navigation__dropdown {
  display: none;
}
.navigation__contacts a {
padding: 0 34px;
}

/* Hero */
.block-hero {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/intro_bg_1x.png);
}
.block-hero .wrap-row {
  margin-bottom: 30px;
}
.block-hero p {
  margin: 27px 0;
}
.block-hero .accent-btn--big-blue {
  padding: 7px 40px;
  margin: 0 22px 0 0;
}
.block-hero .accent-btn--white {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  color: #455880;
  padding: 7px 40px;
}
.block-hero__image {
  width: 977px;
  height: 608px;
  background-color: #FFF;
  background-image: url('../img/intro_1x.png');
  background-repeat: no-repeat;
  background-position: center center;
}

/* Partners */
.block-partners {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block-partners h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height, or 169% */
  color: rgba(69, 88, 128, 0.5);
  margin: 30px 0 50px 0;
}
.block-partners .wrapper {
  align-items: inherit;
  /* min-width: 1179px; */
  /* flex-wrap: nowrap; */
  /* align-items: stretch; */
  justify-content: space-between;
}

.block-partners .block-partners__img-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* About */
.block-about__image-wrap {
  width: 611px;
  height: 900px;
  background-color: #FFF;
  background-image: url('../img/about_people_1x.png');
  background-repeat: no-repeat;
  background-position: 50% 350%;
  margin-right: 164px;px
}
.block-about .wrapper {
  align-items: inherit;
}
.block-about h2 {
  margin-top: 160px;
}
.block-about .wrap-col {
  max-width: 405px;
}
.block-about__desc {
  text-align: start;
  width: 70%;
}
.block-about__logo {
  align-items: flex-start;
}
.block-about h3 {
  padding-bottom: 30px;
}
.block-about article {
  margin: 40px 0;
}
.block-about__border-line {
  padding: 40px 0;
  border-bottom: 1px solid rgba(69, 88, 128, 0.2);
  border-top: 1px solid rgba(69, 88, 128, 0.2);
}


/* Portfolio */
.block-portfolio {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 139px;
  padding-top: 140px;
  background: #FFF9EA;
  min-width: 1600px; 
}
.block-portfolio p {
  margin: 30px 0 40px 0;
}
.block-portfolio .accent-btn--big-blue {
  padding: 7px 40px;
  margin: 0 22px 0 0;
}
.block-portfolio__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 1600px; 
  margin-top: 40px;
}

.block-portfolio__wrap .wrap-col {
  width: 20%;
}
.block-portfolio__1,
.block-portfolio__2,
.block-portfolio__4,
.block-portfolio__6,
.block-portfolio__7,
.block-portfolio__8,
.block-portfolio__10 {
  width: 311px;
  height: 231px;
  /* background-color: #FFF9EA; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.block-portfolio__1 {
  background-image: url('../img/portfolio_1_@1x.png');
}
.block-portfolio__2 {
  background-image: url('../img/portfolio_2_@1x.png');
}
.block-portfolio__3 {
  background-image: url('../img/portfolio_3_@1x.png');
}
.block-portfolio__4 {
  background-image: url('../img/portfolio_4_@1x.png');
}
.block-portfolio__5 {
  background-image: url('../img/portfolio_5_@1x.png');
}
.block-portfolio__6 {
  background-image: url('../img/portfolio_6_@1x.png');
}
.block-portfolio__7 {
  background-image: url('../img/portfolio_7_@1x.png');
}
.block-portfolio__8 {
  background-image: url('../img/portfolio_8_@1x.png');
}
.block-portfolio__9 {
  background-image: url('../img/portfolio_9_@1x.png');
}
.block-portfolio__10 {
  background-image: url('../img/portfolio_10_@1x.png');
}
.block-portfolio__11 {
  background-image: url('../img/portfolio_11_@1x.png');
}
.block-portfolio__3 {
  height: 40px;
}
.block-portfolio__5 {
  height: 159px;
}
.block-portfolio__7 {
  height: 105px;
}
.block-portfolio__9 {
  height: 65px;
}
.block-portfolio__10 {
  width: 295px;
  /* background-size: 91%; */
  background-repeat: no-repeat;
  /* background-position-y: top;
  background-position-x: right; */
}
.block-portfolio__11 {
  width: 280px;
  height: 209px;
  /* background-size: 95%; */
  /* background-position-x: right; */
  /* background-repeat: no-repeat;
  background-position-y: bottom;
  align-self: flex-end; */
}


.block-portfolio__3,
.block-portfolio__5,
.block-portfolio__7,
.block-portfolio__9
 {
  width: 311px;
  /* background-color: #FFF9EA; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.block-portfolio__1,
.block-portfolio__2,
.block-portfolio__3 {
  /* background-position-x: left; */
  /* background-repeat: no-repeat; */
  /* background-position-y: bottom; */
}
/* Reviews */
.block-reviews {
  display: flex;
  flex-wrap: wrap;
}
.block-reviews h2 {
  margin: 232px 0 56px;
}
.block-reviews article {
  /* flex-wrap: wrap; */
  border: 1px solid rgba(69, 88, 128, 0.2);
  border-radius: 4px;
  padding: 38px 43px 32px;
  margin: 0 28px;
}
.block-reviews p {
  text-align: start;
}
.block-reviews picture {
  margin: 50px 0 23px;
  height: 64px;
}
/* Try it */


/* Footer */